* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pridi', serif;
}
html, body {
    height:100%;
    background-color: #154F51;
}

/* =====================================CABEÇALHO============================================ */

.container {
    max-width: 800px;
    margin: 150px auto; 
    background-color:#8ba2ae6b;
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 40px;
}

header h1 {
    margin: 0 20px;
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.671);
}

