* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pridi', serif;
}
html, body {
    height:100%;
    background-color: #154F51;
    padding: 0 2%;
}

/* =====================================CABEÇALHO============================================ */

.container {
    max-width: 800px;
    margin: 150px auto; 
    background-color:#8ba2ae6b;
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
   
}

header {
    display: flex;
    align-items: center;
    padding: 30px 40px;
}

header h1 {
    margin: 0 20px;
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.671);
}

/* =====================================FORMULÁRIO=========================================== */

form .input-contato {
   
    display: flex;
}

form .input-text {
    width: 100%;
    margin: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    font-size: 16px;
}

form input[type=text]{
    background-image: url(../img/contato.png);
    background-repeat: no-repeat;
    background-position-x:right;
    background-size: contain;
    boder
}

form input[type=tel]{
    background-image: url(../img/viber.png);
    background-repeat: no-repeat;   
    background-position: 98%;
    background-position-y:3px ;
    background-size:38px;
}

form label {
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    margin:0 10px;
}

.input-text input::placeholder {
    font-family: 'Pridi', serif;
    font-size: 18px;
}

/* Tira a borda interna do input */
.input-text input:focus-visible {
    outline: none;
    border-bottom: 3px solid #154F51;
}

/* ==========================================BOTÃO=========================================== */

 .btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn button {
    padding: 10px 70px;
    cursor: pointer;
    font-family: 'Pridi', serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
}